.ironixLogo {
	border-radius: 100%;
}
.ironixLogo:active {
	opacity: 90%;
}
body {
	text-align: center;
	color: white;
	background: #2C2F33;
}
.points {
	font-family: 'Arial';
	font-size: 30px;
}